.main-about{
    width: 90%;
    margin: auto;
    height: 65vh;

    section{
        width: 100%;
        
        h1{
            width: 100%;
            text-align: center;
            margin: auto;
            margin-top: 10px;
        }
        
        img{
            margin: 0px 35%;
            width: 30%;
            height: auto;
        }
        
        .img-about{
           display: none;
        }
        
        p{
            margin: auto;
            margin-top: 20px;
            width: 90%;
            font-size: 14px;
            text-align: left;
        }

        .p{
            margin: auto;
            margin-top: 20px;
            width: 90%;
            font-size: 14px;
            text-align: left;
        }

        .p1{
            margin: auto;
            margin-top: 20px;
            width: 90%;
            font-size: 14px;
            text-align: left;
        }
    }   
}

@media (min-width:768px){

    .main-about{
        min-height: 95vh;

        section{

            p{
                margin: auto;
                margin-top: 40px;
                width: 100%;
                text-align: justify;
                font-size: 25px;
            }

            .p{
                margin: auto;
                margin-top: 40px;
                width: 100%;
                text-align: justify;
                font-size: 25px;
            }

            .p1{
                margin: auto;
                margin-top: 40px;
                width: 100%;
                text-align: justify;
                font-size: 25px;
            }
        }
    }
}

@media (min-width:1024px){

    .main-about{
        width: 100%;

        section{
            display: grid; 
            grid-template-columns: 0.1fr 1fr 1fr 0.1fr;
            grid-template-rows: 0.1 1fr 1fr 1fr 1fr 0.1fr;
            gap: 0; 
            grid-template-areas: 
            ". h1 h1 ."
            ". img img-about ."
            ". p img-about ."
            ". p2 img-about ."
            ". p3 img-about .";
            
            h1{
                width: 100%;
                margin: 2% auto 2% auto;
                grid-area: h1;
            }
        
            img{
                width: 25%;
                grid-area: img;
                margin: auto;
            }

            .img-about{
                display: block;
             }
        
            p{
                font-size: 15px;
                width: 100%;
                grid-area: p;
                margin-top: 0px;
            }

            .p{
                font-size: 15px;
                width: 100%;
                grid-area: p2;
                margin-top: 0px;
            }

            .p1{
                font-size: 15px;
                width: 100%;
                grid-area: p3;
                margin-top: 0px;
            }
        
            .img-about{
                width: 90%;
                margin: auto;
                grid-area: img-about;
            }

        }

    }  
}

@media (min-width:1600px){

    .main-about{
        min-height: 72vh;

        section{
            margin-bottom: 60px;

            h1{
                width: 10%;
                margin: 20px auto;
                grid-area: h1;
                text-align: center;
            }
        
            img{
                width: 25%;
                grid-area: img;
            }
        
            p{
                font-size: 20px;
                width: 100%;
                grid-area: p
            }

            .p{
                font-size: 20px;
                width: 100%;
                grid-area: p2;
            }

            .p1{
                font-size: 20px;
                width: 100%;
                grid-area: p3;
            }
        
            .img-about{
                width: 70%;
                margin: auto;
                grid-area: img-about;
            }
        }
    }  
}